.headers/*.sym 
.headers/*.hex 
.headers/*.sdb 
.headers/*.lst 
.headers/*.o 
.headers/*.rlf 
.headers/*.pre 
.headers/*.mum
.headers/*.s 
.headers/*.d 
.headers/*.i 
.headers/*.p1 
.headers/*.cmf 
.headers/*.elf 
.headers/*.hxl 
.headers/*.as 
.headers/*.obj